<h2>Show Member</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @member.name %>
  </li>

</ul>

<span><%= link "Edit", to: member_path(@conn, :edit, @member) %></span>
<span><%= link "Back", to: member_path(@conn, :index) %></span>
